<div>
  <app-invoice-page
  [yourName]="yourName"
  [yourAddress]="yourAddress"
  [yourPhoneNumber]="yourPhoneNumber"
  [yourEmail]="yourEmail"
  [buyerName]="buyerName"
  [buyerAddress]="buyerAddress"
  [buyerPhoneNumber]="buyerPhoneNumber"
  [buyerEmail]="buyerEmail"
  [invoiceNumber]="invoiceNumber"
  [invoiceDate]="invoiceDate"
  [paymentDue]="paymentDue"
  [items]="items"
  [totalAmount]="totalAmount"
  [discountAmount]="discountAmount"
  [taxAmount]="taxAmount"
></app-invoice-page>

</div>

<div>
  <app-invoice-form></app-invoice-form>
</div>
